[Unit]
Description=Sphero sensors to Taranis PPM trainer
After=bluetooth.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=3
User=pi
ExecStart=/usr/bin/env python3 /home/pi/flysphero/flysphero.py
TimeoutStopSec=3
SendSIGKILL=yes

[Install]
WantedBy=multi-user.target
